{% extends "layout.html"%}
{% block content%}


        <div class="row">
                <div class="col-sm-5 col-md-6">
                        <div class="welcome-content h-100" >
                                <div class="container h-100">
                                    <div class="row h-100 align-items-center">
                                        <div class="col-12">
                                            <div class="welcome-text text-center">
                                                <h5 style="color: aqua" data-animation="fadeInUp" data-delay="500ms">THE BEST SOLUTION ONE CAN HOPE FOR</h5>
                                                <h2 data-animation="fadeInUp" data-delay="500ms">Welcome To Eazy Park</h2>
                                                <a href="#" class="btn roberto-btn btn-2" data-animation="fadeInUp" data-delay="800ms">Discover Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                         </div>
                </div>
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                               <br>
                            <div class="card border-success mb-3" style="max-width: 18rem;">
                                <div class="card-body text-success">
                                          <h5 class="card-title">Processing </h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                       </div>
                </div>
              
         </div>
            <!-- <div class="row">
                <div class="single-welcome-slide bg-img bg-overlay">
                    </div>
                    
            </div> -->
               
        
    
        
<!--style="background-image: url(/static/img2.jpg);" data-img-url="/static/img2.jpg"-->
  
    

<div class="grid-container">
        <div class="grid-item item1">1</div>
        <div class="grid-item item2">2</div>
        <div class="grid-item item3">3</div>
        <div class="grid-item item4">4</div>
        <div class="grid-item item5">5</div>
        <div class="grid-item item6">6</div>
        <!-- <div class="grid-item item7">7</div>
        <div class="grid-item item8">8</div>
        <div class="grid-item item9">9</div> -->
      </div>
    
      <br>
      <br>
      {%endblock content%}
      
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
